<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="icon" rel="icon" href="http://www.pokemongobrasil.com/wp-content/uploads/2016/08/pokebola-go.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Pokédex</title>
  </head>
  <body>
      <nav>
          <ul>
              <li><a href="/cadastro">Cadastrar</a></li>
              <li><a href="/"><h1>Pokedex</h1></a></li>
              <li><a href="#cards">Meus pokemons</a></li>


         
          </ul> 
      </nav>
      <img id="dialogo" src="/img/Apresenta.png" alt="dialogo">
      <h2>Meus Pokemons</h2>
      <a id="newPokemon"href="/cadastro">Cadastrar Novo Pokemon</a>
       
      <main>
    <section id="cards">
     <% pokedex.forEach((pokemon) =>{%>
      <div class="pokemon">
        <h4>ID N.º0<%= pokemon.id %></h4>
          <div id="editDelete">
        <a id="editar" href="/update/<%= pokemon.id %>">Editar</a>
        <a id="apagar" onclick="alert(`o pokemon foi apagado`)" href="/delete/<%= pokemon.id %>">Apagar</a>
     
        <a id="details" href="/details/<%= pokemon.id %>">Detalhes</a>
        
    </div>
    <a id="cliqueTela" href="/details/<%= pokemon.id %>">
      <h3><%= pokemon.nome %></h3>
        <img src="<%= pokemon.imagem %>" alt=""/>
        <p><%= pokemon.tipo %></p>
      </a>
      </div>
      <% }) %>
    </section>
  </a>
    
</main>
<footer>
  <ul>
    <li>
      <p>Todos os direitos reservados de Caio Maximus</p>
      <p>Dados recebidos de <a href="https://www.pokemon.com/br/pokedex/" target="_blank">Pokedex.com</a></p>
    </li>
      <li id="link"><a href="https://www.linkedin.com/in/caio-maximus-047826231" target="_blank"><i class="bi bi-linkedin"></i></a></li>
      <li id="git"><a href="https://github.com/caiomaximusjs" target="_blank"><i class="bi bi-github" ></i></a></li>

    
  </ul>
</footer>
<script src="/script.js"></script>
  </body>
</html>
